.main-title{ 
    margin-top: 100px;
    background-color:#F8B763;
    height: auto;
    width: 66%;
    padding: 10px;
    border-radius: 15px;
 }
 .main-title h1{ 
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
 }
 .main-title p{
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Croissant One', cursive;
 }
 .main-title img{ 
    max-width: 200px; 
    max-height: 200px; 
    float: right;
 
 }
 .container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center ;
 }
 .posts-list { /*лист для постов хаха л-логика*/
    margin-top: 30px;
     margin-bottom: 30px;
     width: 70%;
  }
  .post { /*блок для одного раздела вида медитации*/
     margin-bottom: 35px;
  }
  .post-content{ 
    padding: 20px 5px;
    border: 1px solid #d3c06b;
    border-radius: 5px;
    margin-bottom: 20px;
    
    box-shadow: 0 5px 10px 0px #F8B763;
  }
  .post-content ul{ 
    list-style: circle;
    padding-left: 20px;
  }
  .post-content p {
     line-height: 1.5;
     padding-bottom: 1em;
  }
  .post-image {
     margin-bottom: 30px;
  }
  .category {
     margin-bottom: 15px;
  }
  .category a {
     color: #F8B763;
     text-transform: uppercase;
  }
  .post-title {
     margin-bottom: 12px;
     font-size: 26px;
  }
  .literature{
    background-color:#F8B763;
    max-width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  .literature h2{ 
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
 }
 .literature p{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Croissant One', cursive;
    padding-bottom: 20px;
 }
 .literature a{ 
    text-decoration: none;
    color: #3C3D41;
    font-size: 16px;
 }
 

 @media (max-widht: 1370px) {
    .posts-list{ 
       margin-top: -100px;
    }
 }
 @media (max-width: 800px) {
    /* показываем кнопку для переключения верхней навигации */
    .nav-toggle {
       display: block;
    }
    header {
      margin-top: -90px;
        padding: 10px 0;
    }
    /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
    #menu {
       max-height: 0;
       background: white;
       float: none;
       position: absolute;
       overflow: hidden;
       top: 63px;
       right: 0;
       left: 0;
       margin: 0 5%;
       padding: 0;
       z-index: 3;
       border-radius: 5%;
    }
    /* делаем элементы списка блочными, чтобы они располагались друг под другом */
    #menu li {
       display: block;
       text-align: center;
       border-bottom: 1px solid #cecec9;
       margin-right: 0;
    }
    .main-title{ 
        width: auto;
       height: auto;
       margin-bottom: 20px;
       max-width: 100%;
    }
  
    .main-title img{ 
        margin-top: -30px;
        width: 150px; 
        height: 100px;
     }
    .main-title p{ 
       font-size: 14px;
    }
    /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
    .posts-list{
       width: 100%;
    }
    .widget-point-title {
       font-size: 1.5em;
    }
    .container{
        display: block;
    }
    .dropdown{
       display: none;
    }
    .literature{ 
       max-width: 100%;
    }
 }
 
 @media (max-width: 480px) {
    header{ 
       margin-top: -130px;
    }
    /* отменяем обтекание для логотипа и выравниваем по центру*/
    .logo {
       float: none;
       margin: 0 auto 15px;
       display: table;
    }
    .logo span {
       margin: 0 2px;
    }
    /* позиционируем меню на увеличившуюся высоту шапки */
    #menu {
       top: 118px;
    }
    /* позиционируем форму поиска по левому краю */
    #searchform {
       float: left;
       margin-left: 0;
    }
    .main-title{ 
       font-size: smaller;
       margin-top: 130px;
    }
    .content_of_page{
       margin-top: -30px; 
    }
 
    .widget{ 
       display: none;
    }
    .footer-container{ 
       flex-wrap: wrap;
    }
    /* отменяем обтекание для столбцов футера страницы */
    .footer-call {
       float: none;
       margin-bottom: 20px;
       width: 100%;
       text-align: center;
    }
    .footer-call:last-child {
       text-align: center;
       margin-bottom: 0;
    }
    
 }